# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Flask
# =========================
instance/
.webassets-cache
flask_session/

# =========================
# Databases
# =========================
*.sqlite3
*.db

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node (if using frontend)
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

*.pdf
*.flag